@import "tailwindcss";

:root {
  /* تعريف الخطوط المخصصة */
    --font-cairo: 'Cairo', sans-serif;
  --font-tajawal: 'Tajawal', sans-serif;
  --font-inter: 'Inter', sans-serif;
}
/* تحسين عرض النص العربي */
.arabic-text {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* تطبيق الخط على جميع العناصر */
* {
  font-family: var(--font-cairo);
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-family: var(--font-cairo);

}


@layer utilities {
  .scrollbar-pink {
    scrollbar-width: thin;
    scrollbar-color: #f382bd #fdf2f8;
  }
  
  .scrollbar-pink::-webkit-scrollbar {
    height: 6px;
  }
  
  .scrollbar-pink::-webkit-scrollbar-track {
    background: #fdf2f8;
    border-radius: 10px;
  }
  
  .scrollbar-pink::-webkit-scrollbar-thumb {
    background: #f472b6;
    border-radius: 10px;
  }
  
  .scrollbar-pink::-webkit-scrollbar-thumb:hover {
    background: #db2777;
  }
}


.swiper {
  width: 100%;
  padding: 10px 0 40px 0;
}

.swiper-pagination-custom {
  position: relative;
  bottom: 0;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  background: #cbd5e1;
  opacity: 0.6;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  display: inline-block;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background: #f59e0b;
  opacity: 1;
  width: 24px;
}

/* إخفاء الأسهم الافتراضية */
.swiper-button-next, .swiper-button-prev {
  display: none !important;
}

/* تحسين التصميم للشاشات الصغيرة */
@media (max-width: 768px) {
  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    display: none !important;
  }
  
  .swiper {
    padding: 5px 0 30px 0;
  }
}

/* تأكد من أن الكنترولر محصور في الحاوية */
.container {
  max-width: 100%;
  overflow: hidden;
}
